#home {
  padding-top: 40px;
  display: flex;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.pl2-primary {
  color: #000000;
  background-color: white;
  border-color: #000000;
}

.pl2-primary:focus,
.pl2-primary:hover {
  color: white;
  background-color: #3466dd;
}


.button-back {
  color: white;
  background-color: #3466bb;
}

.button-back:focus,
.button-back:hover {
  color: #3466bb;
  background-color: white;
}

canvas {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#home-img {
  text-align: right;
  height: 470px;
}

#down-arrow {
  padding-top: 50px;
  text-align: center;
}

#home-text {
  padding-top: 30px;
}

#down-arrow img {
  height: 35px;
  width: 35px;
}

#mentor-img {
  text-align: left;
  height: 470px;
  display: flex;
  align-items: center;
}

#map-img {
  text-align: right;
  height: 470px;
  display: flex;
  align-items: center;
}

#map-img img {
  width: 100%;
}

#home-img img {
  height: 100%;
}

#mentor-img img {
  width: 100%;
}

#home-pink-blur {
  position:absolute;
  top:5%;
  right:35%;
  width: 300px;
  height: 300px;
  background: #F1949E;
  filter: blur(100px);
  opacity: 0.9;
  transform: rotate(-45deg);
  z-index: 1;
}

#home-yellow-blur {
  position:absolute;
  top:20%;
  right:50%;
  width: 300px;
  height: 300px;
  background: #F8C362;
  filter: blur(120px);
  opacity: 0.9;
  transform: rotate(-45deg);
  z-index: 1;
}

#home-blue-blur {
  position:absolute;
  top:65%;
  left: 37%;
  width: 300px;
  height: 300px;
  background: #5AB0FF;
  filter: blur(100px);
  z-index: 1;
}

#home-impact-yellow-blur {
  position:absolute;
  top:80%;
  right:-25%;
  width: 400px;
  height: 400px;
  background: #F8C362;
  filter: blur(150px);
  opacity: 0.9;
  transform: rotate(-45deg);
}

.home-slogan {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 125%;
}

.home-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 53px;
}

.home-h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 800; 
  font-size: 3rem; 
  line-height: 63px;
}

.home-h2 {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 53px;
}

.home-impact-h2 {
  font-family: 'Open Sans';
  color: #66AA5D;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 53px;
}

.home-impact {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 44px;
}

.home-h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 53px;
}

.home-helping-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
}

.home-helping-content {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 27px;
}

.home-join-content {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 33px;
}
/* 
.home-join-button-content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
} */

.home-offering-content {
  /* width: 25%; */
  /* height: 35rem; */
  background: #FFFFFF;
}

.home-offering-content:hover {
  box-shadow: 10px 10px;
}

.home-offering-content a {
  text-decoration: none;
  color: #000;
}


#home-blurb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn-primary {
  border: 2px solid black;
  background-color: white;
  color: black;
  background-color: white;
  font-weight: 600;
  font-size: 0.8rem;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-primary:hover {
  color: white;
  background-color: black;
  border: 2px solid black;
}

.home-section-container {
  margin: 0;
}

.home-section {
  display: flex;
  align-items: center;
}

#collab-title {
  text-align: center;
  padding-bottom: 80px;
}

.collab-text {
  color: #2e2e2e;
  display: inline;
}

.collab-square {
  box-shadow: 3px 5px 10px rgb(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  height: 300px;
}

.collab-square:hover {
  text-decoration: none;
}

#learnlab-logo-container {
  padding-top: 60px;
  padding-bottom: 30px;
  width: 250px;
  height: 10px;
}
#learnlab-logo {
  display: block;
  width: 100%;
  height: auto;
}

#cue-logo-container {
  padding-top: 30px;
  padding-bottom: 60px;
  width: 150px;
  height: 10px;
}
#cue-logo {
  display: block;
  width: 100%;
  height: auto;
}

.pl2-logo {
  height: 70px;
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-item {
  text-align: center;
}

.nav-item a {
  color: #000;
}

.nav-item a:hover {
  color: #3466bb;
  text-decoration: none;
}

#PL2-name {
  color: #2e2e2e;
}

#PL2-name:hover {
  text-decoration: none;
}

.selected-nav {
  color: #3466bb;
}

.collab-header {
  color: #3466bb;
  font-weight: 600;
}

.jumbotron {
  color: white;
  background-image: url("images/image 54.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grey-image-overlay {
  color: white;
  background-image: url("images/Rectangle 261.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .carousel-indicators {
  bottom: -3rem !important;
} */

/* .carousel-indicators > li {
  border-radius: 5px;
  background: #c1c2c2;
  border-top-width: 5px;
  border-bottom-width: 5px;
  width: 10px;
  height: 0px;
  margin-left: 20px;
  margin-right: 20px;
} */
/* .carousel-indicators > li.active {
  background: black !important;
} */
/* 
.carousel-item {
  background-color: white;
  border: 4px solid black;
} */

.carousel-control-prev-icon {
  background-image: url("images/carousel-control-prev.svg") !important;
  width: 25%;
  height: 25%;
  align-self: center;
}

.carousel-text-area {
  font-size: 2rem;
  background-color: white;
  border: 4px solid black;
  max-width: 70%;
}

.carousel-control-next-icon {
  background-image: url("images/carousel-control-next.svg") !important;
  width: 25%;
  height: 25%;
  align-self: center
}

.text-blue {
  color: #3466bb;
}

.ed-tech-images > div {
  display: flex;
  align-items: center;
}

/* This is necessary to override normal bootstrap behavior, and
   allow nav-pills embedded within tabs on the frontpage to flex
   appropriately (under "enabling improvement for learners, etc" - section with gifs)*/
.tab-content.demos > .active {
  display: flex;
}

.panel-nav {
  font-size: 1.25rem !important;
  background: none !important;
  color: #898989 !important;
  font-weight: 500 !important;
}

.panel-nav.active {
  color: #000 !important;
  font-weight: bold !important;
}
