#bridging-img {
  text-align: left;
  height: 470px;
  display: flex;
  align-items: center;
}

#bridging-img img {
  width: 100%;
}

.release-note-img,
.feature-img {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.feature-img img {
  height: 150px;
  width: 150px;
}

.release-note-img img {
  width: 55%;
  background-color: #f4f6f8;
  border: #3466bb 1px solid;
}

.img-35 {
  width: 35% !important;
}

.release-notes {
  padding-bottom: 0px;
}

.release-notes a {
  color: #3466bb;
  text-decoration: underline;
}

.videos {
  padding-top: 0px;
}

.bottom-pad {
  padding-bottom: 20px;
}

.section-container {
  padding-top: 70px;
  padding-bottom: 40px;
  margin: 0;
}

.section-container-mod {
  padding-top: 50px;
  margin: 0;
}

.section {
  display: flex;
  align-items: center;
  margin: 0;
}

.pilot-square {
  box-shadow: 3px 5px 10px rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 20px;
  min-height: 170px;
}

.pilot-square:hover {
  text-decoration: none;
}

#pilot-text {
  padding-bottom: 30px;
}

.square-text {
  padding: 30px;
}

#remake-learning-text {
  padding-top: 40px;
}

.feature-text {
  font-weight: 300;
  font-size: 0.9rem;
  text-align: center;
  padding-top: 10px;
  color: #7b7b7b;
}

.school-header {
  color: #3466bb;
  display: inline;
  /* font-weight: 600;*/
}

.school-text {
  font-weight: 300;
  color: #7b7b7b;
  font-size: 0.9rem;
  display: inline;
}

.col-md-5 p {
  font-style: italic;
}

.partner-container > .row > div {
  border-right: 1px solid #f0f0f0;

  align-items: center;
  display: flex;
}
.partner-container > .row > div:last-child {
  border-right: 0px;
}
.partner-container hr {
  border-top: 1px solid #f0f0f0;
}
.partner-container img {
  max-height: 8rem;
  max-width: 100%;
}
.partner-name {
  text-transform: uppercase;
  font-weight: 300;
  color: #6c757d;
  width: 100%;
}

.team-name,
.media-title {
  font-weight: 700;
}
.team img {
  max-width: 100%;
  max-height: 10em;
  min-height: 141.5px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.team-affiliation {
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

.in-media img {
  max-width: 100%;
  max-height: 20em;
  margin-bottom: 1rem;
}
.in-media .row > div > div {
  margin-bottom: 0.5rem;
}
.media-date {
  text-decoration: uppercase;
  color: #3466bb;
}

/* old version of accordion arrows

.accordion .fa-angle-down,
.accordion .fa-angle-up {
  float: right;
}
.accordion .fa-angle-down {
  display: none;
}
.accordion .fa-angle-up {
  display: inline-block;
}
.accordion .collapsed .fa-angle-up {
  display: none;
}
.accordion .collapsed .fa-angle-down {
  display: inline-block;
} */

.accordion .fa-caret-down,
.accordion .fa-caret-right {
  float: right;
  color: gray;
}
.accordion .fa-caret-down {
  display: none;
}
.accordion .fa-caret-right {
  display: inline-block;
}
.accordion .collapsed .fa-caret-right {
  display: none;
}
.accordion .collapsed .fa-caret-down {
  display: inline-block;
}

.campaign {
  /* This is for the embedded newsletter links */
  padding-top: 1rem;
  font-size: 1.5rem;
}

.prez-card {
  background: white;
}

.impact-num {
  font-size: 3rem;
}

ul.match-indent {
  padding-inline-start: 1.2rem;
}

.card-title {
  font-size: 1.25rem;
}

.card.partner {
  border: none;
  background: #f1f4fa;
}

.publication {
  font-size: 1.25rem;
}

.release_nav:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.invalid-form {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.warning-msg {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}
